.vscode
build
*.jdebug
*.jdebug.user
.mxproject

Core/Src/*
!Core/Src/main.c
!Core/Src/stm32f4xx_it.c
Core/Inc/*
!Core/Inc/main.h
Core/Startup

Drivers
Middlewares

USB_DEVICE/APP/*
!USB_DEVICE/APP/usbd_cdc_if.c
USB_DEVICE/Target